output/
venv/
temp/
.rpa/
.idea/
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
.virtual_documents/
*/.virtual_documents/*
.vscode
.DS_Store
*.pyc
*.zip
*/work-items-out/*
testrun/*
.~lock*
*.pkl
report/*
output.xml
log.html
report.html
interactive_console_output.xml
interactive_console_output.xml
report/output.xml
report/report.html
