oracledb                             # https://pypi.org/project/oracledb/
robotframework-databaselibrary       # https://pypi.org/project/robotframework-databaselibrary/
robotframework-seleniumlibrary       # https://robotframework.org/SeleniumLibrary/SeleniumLibrary.html
allure-robotframework                # https://pypi.org/project/allure-robotframework/
robotframework-requests              # https://www.piwheels.org/project/robotframework-requests/
robotframework-mockserver            # https://pypi.org/project/robotframework-mockserver/
pyodbc                               # https://pypi.org/project/pyodbc/
robotframework-reportportal          # https://pypi.org/project/robotframework-reportportal/
robotframework-pabot                 # https://pypi.org/project/robotframework-pabot/
PyHamcrest                           # https://pypi.org/project/PyHamcrest/
pandas                               # https://pypi.org/project/pandas/
robotframework                       # https://pypi.org/project/robotframework/